@import "tailwindcss";

/* Main application styles */
:root {
  --premium-bg: #062016;
  --brand-secondary: #f0fdf4;
}

body {
  margin: 0;
  padding: 0;
  background-color: #062016;
  color: #f0fdf4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d9d1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c1cac1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}